<div class="marcador">

    <div class="logo">
        <img [src]="equipoLocal.logo" alt="">
    </div>
    <div class="puntos">
        <span>{{puntosLocales}}</span>
        <img src="/assets/img/NBA_Logo.svg" alt="nba">
        <span>{{puntosVisitantes}}</span>

    </div>
    <div class="logo">

        <img [src]="equipoVisitantes.logo" alt="">
    </div>
</div>
<div class="equipos">
    <app-equipo class="equipo" [equipo]="equipoLocal" (canasta)="getcanastalocal($event)"></app-equipo>
    <app-equipo class="equipo" [equipo]="equipoVisitantes" (canasta)="getcanastaVisitante($event)"></app-equipo>

</div>
<app-top-score [equipoLocal]="equipoLocal"
               [equipoVisitante]="equipoVisitantes"
></app-top-score>